<div>
  <p class="text-center">
  <a class="btn btn-info" target="_blank" title="Vous pouvez créer une issue Github concernant le sujet que vous êtes en train de consulter." href="https://github.com/witsa/synapps/issues/new?labels=question&title=[DOC] {{page.title}}&body=> Lien de la page : `{{page.path}}`.">❔ Posez une Question </a>
  <a class="btn btn-info" target="_blank" title="Vous pouvez créer une issue Github concernant le sujet que vous êtes en train de consulter." href="https://github.com/witsa/synapps/issues/new?labels=suggestion&title=[DOC] {{page.title}}&body=> Lien de la page : `{{page.path}}`.">💡 Proposez une Suggestion </a>

    <a class="btn btn-info" target="_blank" title="Vous pouvez venir discuter avec la communauté des Créateurs." href="https://github.com/witsa/synapps/discussions">💬 Venez discuter</a>
  </p>
</div>

made by <a href="https://www.wit.fr" target="_blank"><img style="height: 1.5em;" src="{{ site.baseurl }}/assets/logoWit.png" alt="WIT"></a>
