<div>
  <p>📍 Une question ou une suggestion ? <br>
  Vous pouvez créer une issue Github concernant le sujet que vous êtes en train de consulter. <br/> <br/>
  <a class="btn btn-info" target="_blank" href="https://github.com/witsa/synapps/issues/new?labels=question&title=[DOC] {{page.title}}&body=> Lien de la page : `{{page.path}}`."> Question </a>
  <a class="btn btn-info" target="_blank" href="https://github.com/witsa/synapps/issues/new?labels=suggestion&title=[DOC] {{page.title}}&body=> Lien de la page : `{{page.path}}`."> Suggestion </a>
  </p>
</div>

made by <a href="https://www.wit.fr" target="_blank"><img style="height: 1.5em;" src="{{ site.baseurl }}/assets/logoWit.png" alt="WIT"></a>
