---
layout: default
---

<style>
  blockquote {
    border-left: 5px solid #888;
    padding-left: 10px;
    margin-left: 0;
  }

  a#back-to-top {
    position: fixed;
    top: 12px;
    right: 16px;
    background-color: rgb(255 255 255 / 46%);
    padding: 0px 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px #444;
    backdrop-filter: blur(2px);

    transition: opacity 250ms ease-in-out;
    pointer-events: none;
    opacity: 0;
  }

  html:not([data-scroll="0"]) a#back-to-top {
    pointer-events: initial;
    opacity: 1;
  }

  .nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link {
    white-space: nowrap;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  *:hover::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }

  * {
    scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
  }

  *:hover {
    scrollbar-color: #aaa rgba(0, 0, 0, 0.1);
  }
</style>

<script>
  const writeScroll = () => {
    document.documentElement.dataset.scroll = window.scrollY > 60 ? window.scrollY : 0;
    const limit = window.scrollMaxY || (document.documentElement.scrollHeight - document.documentElement.clientHeight);
    document.documentElement.dataset.scrollBottom = window.scrollY > limit - 120 ? 0 : 'shadow';
    document.documentElement.dataset.scrollTop =  window.scrollY > 0 ? window.scrollY : 0;
    console.log('window.scrollY', window.scrollY, limit);
  };
  document.addEventListener("scroll", writeScroll);

  setTimeout(writeScroll, 500);

  const showActiveItem = () => {
    const activeItem = document.querySelector(".nav-list .nav-list-link.active");
    if (activeItem) {
      activeItem.scrollIntoView({
        behavior: "smooth",
        block: "nearest",
      });
    }
  };

  setTimeout(showActiveItem, 600);
</script>

{{content}}

<hr>
<div class="stick">
  <div class="">
    <a class="btn btn-outline" style="box-shadow: none; white-space: nowrap; text-overflow: initial;" href="/synapps{{ page.url }}">✔️ FR</a> <a class="btn btn-info" style="white-space: nowrap; text-overflow: initial;" href="/synapps-it{{ page.url }}">IT</a>
    <div style="flex: 1"></div>
    <div>
      <p class="text-center">
        <a class="btn btn-info" target="_blank" title="Vous pouvez créer une issue Github concernant le sujet que vous êtes en train de consulter." href="https://github.com/witsa/synapps/issues/new?title=[DOC][QUESTION] {{page.title}}&body=> Lien de la page : `{{page.path}}`.">❔ Posez une Question </a>
        <a class="btn btn-info" target="_blank" title="Vous pouvez créer une issue Github concernant le sujet que vous êtes en train de consulter." href="https://github.com/witsa/synapps/issues/new?title=[DOC][SUGGESTION] {{page.title}}&body=> Lien de la page : `{{page.path}}`.">💡 Proposez une Suggestion </a>
        <a class="btn btn-info" target="_blank" title="Vous pouvez venir discuter avec la communauté des Créateurs." href="https://github.com/witsa/synapps/discussions">💬 Venez discuter</a>
      </p>
    </div>
    <div style="margin-left: 2em;">
      made by <a href="https://www.wit.fr" target="_blank"><img style="height: 1.5em;" src="{{ site.baseurl }}/assets/logoWit.png" alt="WIT"></a>
    </div>
  </div>
</div>

<style>
  .stick {
    font-size: 0.7em;
  }

  .stick > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.66);
    padding: .2em;
  }

  @media (min-height: 50rem) {

    .stick {
      position: sticky;
      bottom: 1em;
      backdrop-filter: blur(3px);
    }

    html[data-scroll-bottom="shadow"] .stick {
      box-shadow: 0 0 10px -5px #444;
    }
  }


  html:not(.search-active) .main-header {
    position: sticky;
    top: 0;
    background-color: white;
  }

  html:not([data-scroll-top="0"]) .main-header {
    box-shadow: 0 11px 10px -16px #444;
    z-index: 1;
  }

</style>
